@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root{
    --themeRed: #e43a47;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: Butler;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 26px;
}
p{
    font-family: serif;
    font-size: 20px;
    text-align: justify;
}


.container{
    max-width: 1166px;
    margin: 0 auto;

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;

}
header span{
    padding: 20px;
}
header span a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
header span a:hover{
    background-color: var(--themeRed);
    color: #fff;
    text-size: 50px;

}
.loginBtn {
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}
.loginBtn:hover{
    background: #fff;
    color: #162938;
    
} 
img{
    height: 70px;
    width: 70px;
    position: relative;
    
}
.fullContainer{
    width: 100%;
}
.sectionTitle{
    width:300px;
    border-bottom: 3px solid var(--themeRed);
    text-align: center;
    font-size: 2rem;
    font-family: 'Staatliches', cursive;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}
.banner{
    height: 100vh;
    background-image: url("banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    image-rendering: auto;
    display: flex;
    align-items: flex-end;
}
.banner .text{
    color: #070607;
    text-align: center;
    padding-bottom: 150px;
}
.banner h1{
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom {
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
}
.img-hover-zoom img{
    height: 210px;
    width: 360px;
    object-fit: cover;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition: transform .5s ease;
    image-rendering: auto;

}
.img-hover-zoom img:hover{
    transform: scale(1.5);
}
@media screen and (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
    
}
@media screen and (max-width:500px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
    
}

#styleGallery{
    width:500px;
    border-bottom: 3px solid var(--themeRed);
    text-align: center;
    font-size: 2rem;
    font-family: 'Staatliches', cursive;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.signUPSection{
    position: absolute;
    /* margin: 25px; */
    /* border: 2px solid purple; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_my{
    position: absolute;
    font-size: 2.7em;
    top: calc(100% - 64%);
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: #fff;
    text-shadow:
    2px 3px 0 #fff, -1px -1px 0 #11ebd7, 1px -1px 0 rgba(205, 205, 206, 0.6), -1px 1px 0 #fff, 1px 5px 0 #3e1313
}
#inner{
    text-align: center;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.loginSection {
    background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
    background-repeat: no-repeat;
    /* position: absolute; */
    /* border: 2px solid red; */
    /* top: 50%; */
    left: 50%;
    /* transform: translate(30%, 50%); */
    width: 800px;
    height: 450px;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.info {
    width: 45%;
    background: rgba(20, 20, 20, .8);
    padding: 30px 0;
    border-right: 5px solid rgba(30, 30, 30, .8);
}
.info h2 {
    padding-top: 30px;
    font-weight: 300;
}
.info p {
    font-size: 18px;
}
.info .icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgba(10, 180, 180, 1);
}
.signupForm {
    width: 70%;
    padding: 30px 0;
    background: rgba(20, 40, 40, .8);
    transition: 0.2s;
}
.signupForm h2 {
    font-weight: 300;
}
.inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
}
.noBullet {
    list-style-type: none;
    padding: 0;
}
#join-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
}
#join-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}




footer{
    background-color: #181818;
    color: #7f7f7f;
    padding: 50px 20px;
    font-size: 14px;
    
}
footer .footer-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    
}
footer .news-letter-container  img{
    margin-bottom: 11px;
    width: 150px;
}
footer .footer-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    width: 400px;
    padding:  0 0 5px 0;
}
footer p{
    margin-bottom: 10px;
}
footer .links-container .title{
    color: #7f7f7f;
    position: relative;
    left: 300px;  
}
footer .links-container ul{
    list-style-type: none;
    
}
footer .links-container ul li a{
    text-decoration: none;
    color: #7f7f7f;
    margin-bottom:10px;
    display: inline-block;
    cursor: pointer;
}


